<div class="element transition metal   height2 width2" data-symbol="Cd" data-category="transition">
<div class="tile-header">
	<img width="25px" src="http://mathplusmarketing.com/wp-content/plugins/ep-social-widget/icon-facebook.gif" /> 
	 <img width="25px" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/157168_655196083_1263051529_q.jpg" />
 </div>		
<h2 class="name">{$title}</h2>	 
 <div class="img-layout-four">
		<div class="crop">
			<img src="{$preview}" /> 
		</div>
		<div class="crop-thumb">
			<ul>
				<li><div><img src="{$thumb1}" /> </div></li>
				<li><div><img src="{$thumb2}" /> </div> </li>
				<li><div><img src="{$thumb3}" />  </div></li>
			</ul>
		</div>
 </div>
</div>