<div class="element post-transition metal width2 height2" data-symbol="Bi" data-category="post-transition" id="{$post_id}">
	<div class="element-header">
		<img src="http://mathplusmarketing.com/wp-content/plugins/ep-social-widget/icon-facebook.gif" /> 
		<img src="{$profile_pic}" />		
		<p>{$name}</p>
	</div>
	<img width="100%" src="{$preview}" />
</div>
