<div class="element transition metal    height2 isotope-item" data-symbol="Cd" data-category="transition" data-symbol="Lu" data-category="lanthanoid" >
	<div class="element-header">
		<img src="http://mathplusmarketing.com/wp-content/plugins/ep-social-widget/icon-facebook.gif" /> 
		<img src="{$profile_pic}" />		
		<p>{$name}</p>
		<h3>{$title}</h3>
	</div>
	<img width="290px" src="{$preview}" />
</div>