<div class="element lanthanoid metal inner-transition width2  " data-symbol="Lu" data-category="lanthanoid" id="{$post_id}">
	<div class="element-header">
		<img src="http://mathplusmarketing.com/wp-content/plugins/ep-social-widget/icon-facebook.gif" /> 
		<img src="{$profile_pic}" />		
		<p>{$name}</p>
		<h3>{$title}</h3>
	</div>
	<div class="element-link-wrapper">
		<p>{$message}</p>
		<div class="element-link">
			<img class="img" src="{$preview}" alt="" style="">
		</div>
		<div>
			{$description}
		</div>
	</div>
</div>