#canvas ul li{
	padding: 5px;
	padding-top: 0;
	float:left;
	list-style-type: none;
	border:1px solid #cdcdcd;
	margin:0 5px 5px 0;
}

#canvas ul li img{
    display: block;
    margin-left: auto;
    margin-right: auto;
	padding:3px;
	padding-bottom:0;
}

#canvas ul li img:hover + div#img-big{
	display: block;
}

#canvas ul li img:hover + div#friend-name{
	display: block;
}

#canvas ul li img:hover + div#img-banner{
    display: block;
}

.album-cover{
	width:200px;
}

#canvas ul li h1{
	font-size:11px;
	font-family:  'Oxygen', "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:center;
}

/*------- common------? */
#img-big{
	display:none;
	position:absolute;
	top: 50%;
	left: 10%;
	z-index:100;   
}

#friend-name{
	display:none;
	font-size:11px;
	font-family:  'Oxygen', "Helvetica Neue", Helvetica, Arial, sans-serif;
	position:absolute;
	z-index:100;
	padding:3px;
	background-color:#cdcdcd;  
	border:1px solid #000000;
}

#img-banner{
    display: none;
    position:absolute;
    margin-top: -93px;
    margin-left: -5px;
    width:16px;
    z-index:100;
}