
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

#codeigniter_profiler {
  display: none;
position: absolute;
top: 50px;
right: 0;
}
#page {
  padding-bottom: 50px;
}
.clear {
  clear: both;
}
.clearfix:after
{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
/** Typography */
html {
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
background-color: #e9e9e9;
}
a:link, a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #008ed3;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  color: black;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: underline;
  color: black;
}
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
  color: black;
}
a:link img {
  border: none;
}
.actionButton {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border: 1px solid #CCC;
  background-color: #FFF;
  padding: 5px 8px 6px 8px;
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f4));
  background-image: -webkit-linear-gradient(top, #ffffff, #f4f4f4);
  background-image: -moz-linear-gradient(top, #ffffff, #f4f4f4);
  background-image: -ms-linear-gradient(top, #ffffff, #f4f4f4);
  background-image: -o-linear-gradient(top, #ffffff, #f4f4f4);
  background-image: linear-gradient(top, #ffffff, #f4f4f4);
  filter: progid :DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f4f4f4');
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  color: #313131;
}
.actionButton:hover {
  background-color: #fff;
  border: 1px solid #999;
}
a.actionButton {
  color: #313131;
}
a.actionButton:hover {
  color: #000;
}
.actionButton.left {
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
}
.actionButton.right {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  margin-left: -1px;
}
.actionButton.active {
  border: 1px solid #aaa;
  color: #555;
  background-color: #444444;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #dddddd, #cccccc);
  background-image: -moz-linear-gradient(top, #dddddd, #cccccc);
  background-image: -ms-linear-gradient(top, #dddddd, #cccccc);
  background-image: -o-linear-gradient(top, #dddddd, #cccccc);
  background-image: linear-gradient(top, #dddddd, #cccccc);
  text-shadow: 0 1px #ccc;
  -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,.15);
  -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.15);
  box-shadow: inset 0 2px 3px rgba(0,0,0,.15);
}
a.actionButton.active:hover {
  color: #000;
}
/** Form elements */

textarea, input[type=text], input[type=password] {
  display: block;
  border: 1px solid #ccc;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  padding: 4px 5px 5px 7px;
  font-family: "Lato", "Helvetica Neue", Helvetica, arial, sans-serif;
}
textarea:hover, input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #999;
}
input[type=submit] {
  display: block;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border: 1px solid #CCC;
  background-color: #FFF;
  padding: 5px 8px 6px 8px;
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f4));
  background-image: -webkit-linear-gradient(top, #ffffff, #f4f4f4);
  background-image: -moz-linear-gradient(top, #ffffff, #f4f4f4);
  background-image: -ms-linear-gradient(top, #ffffff, #f4f4f4);
  background-image: -o-linear-gradient(top, #ffffff, #f4f4f4);
  background-image: linear-gradient(top, #ffffff, #f4f4f4);
  filter: progid :DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f4f4f4');
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  cursor: pointer;
}
input[type=submit]:hover {
  border: 1px solid #999;
}
/** Header */

#header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 0 15px 0 0;
  background-color: rgba(255,255,255,.95);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  height: 40px;
  text-shadow: 0 1px #ffffff;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f8f8f8));
  background-image: -webkit-linear-gradient(top, #ffffff, #f8f8f8);
  background-image: -moz-linear-gradient(top, #ffffff, #f8f8f8);
  background-image: -ms-linear-gradient(top, #ffffff, #f8f8f8);
  background-image: -o-linear-gradient(top, #ffffff, #f8f8f8);
  background-image: linear-gradient(top, #ffffff, #f8f8f8);
border-bottom: 1px solid #cdcdcd;
}
.headerSpacer {
  height: 70px;
}
.ie6 #header {
  position: relative;
}
.ie6 .headerSpacer {
  height: 20px;
}
#header .logo {
  float: left;
}
#header .logo a {
  float: left;
  padding: 0 15px 0 15px;
}
#header .logo h1 {
  display: inline-block;
margin: 0;
padding: 0;
float: left;
}
#header .logo h1 img {
display: block;
}
#header .logo p {
  font-size: 12px;
line-height: 40px;
  color: #333;
  display: inline-block;
  border-left: 1px solid #e8e8e8;
padding-left: 15px;
float: left;
}
#header .primary {
  float: left;
  line-height: 40px;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #ffffff;
}
#header .options {
  float: right;
  margin: 0 0 0 0;
  font-size: 12px;
  text-align: center;
  border-left: 1px solid #e8e8e8;
}
#header .primary li, #header .options .item {
  float: left;
  margin: 0 0 0 0;
  line-height: 40px;
  border-left: 1px solid #fff;
  border-right: 1px solid #e8e8e8;
}
#header .options .item a {
display: block;
  height: 40px;
  padding: 0 15px 0 15px;
color: #444444;
}
#header .primary li a:hover, #header .options .item a:hover {
color: #008ed3;
}
#header .primary li {
  padding: 0 15px 0 15px;
}
#header .primary li.options {
  padding: 0 5px 0 5px;
}
#header .primary li a {
color: #444444;
}
#header .primary .profile img {
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 4px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#header .primary .profile {
  margin: 0;
}
#header .options .search {
  padding: 0 10px 0 10px;
height: 40px;
position: relative;
}
#header .options .search input {
  margin-top: 8px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333333;
background-color: #dddddd;
border: 0px;
-moz-box-shadow: 0 1px 0px rgba(255, 255, 255, .4);
-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, .4);
box-shadow: 0 1px 0px rgba(255, 255, 255, .4);
}
#header .options .search input.active {
  color: #000000;
  font-style: normal;
}
#header .options .search #searchAutoComplete,
#commentAutoComplete {
position: absolute;
  border: 1px solid #bbb;
border-top: 0px;
  background-color: #fff;
  left: -2px;
  top: 40px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 200px;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#commentAutoComplete {
  z-index: 15000;
}
#header .options .search #searchAutoComplete ul,
#commentAutoComplete ul {
margin: 0;
padding: 0;
list-style-type: none;
}
#header .options .search #searchAutoComplete li,
#commentAutoComplete li {
border-bottom: 1px solid #dddddd;
margin: 0;
padding: 0;
position: relative;
}
#header .options .search #searchAutoComplete li a,
#commentAutoComplete li a {
margin: 0;
padding: 6px 5px 6px 10px;
display: block;
line-height: 18px;
height: auto;
text-align: left;
}
#header .options .search #searchAutoComplete span,
#commentAutoComplete span {
font-size: 10px;
color: #999999;
padding-left: 5px;
}
#header .dropdown {
  position: relative;
  margin-top: -1px;
  padding: 0;
z-index: 10000;
}
#header .dropdown.howto {
  border-right: 0px;
}
#header li.dropdown.howto p {
padding: 0 0px 0 0px;
}
#header .dropdown.howto p img {
  margin-left: 5px;
}
#header .dropdown p {
  padding: 0 12px 0px 10px;
  cursor: pointer;
}
#header .dropdown p img {
  vertical-align: middle;
  border: 0px;
opacity: 0.75;
filter: opacity(alpha=50);
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#header .dropdown:hover p img {
opacity: 1;
filter: opacity(alpha=100);
}
#header .dropdown.active, #header .dropdown p:hover {
  background-color: #fffffff;
  display: block;
}
#header .dropdown .ddwrap {
  display: none;
  position: absolute;
  border: 1px solid #bbb;
border-top: 0px;
  background-color: #fff;
  right: -2px;
  top: 41px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 120px;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#header .dropdown .ddwrap .arrows {
  color: #ffffff;
  position: absolute;
  right: 9px;
  letter-spacing: -3px;
  top: -22px;
  font-size: 10px;
  text-shadow: 0 -1px #bbb;
  display: none;
}
#header .dropdown ul li {
  padding: 0;
  float: none;
  line-height: 18px;
  margin: 0;
}
#header .dropdown ul li a,
#header .options .dropdown ul li a {
  text-align: left;
  display: block;
  text-indent: 8px;
  padding: 6px 0 6px 0;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  line-height: 18px;
height: auto;
color: #444444;
text-shadow: none;
}
#header .dropdown ul li:hover {

}
#header .dropdown ul li a:hover {
color: #008ed3;
}
#header .dropdown ul li.logout a {
  font-style: italic;
  font-size: 10px;
  color: #777;
}
#header .dropdown ul li.logout:hover {
  background: transparent url('../assets/tears.png') no-repeat 98px center;
}
#header .dropdown ul li.logout a:hover {
color: #008ed3;
}
#header .dropdown ul li.upgrade {
  background: transparent url('../assets/plus/seal-pico.png') no-repeat 98px center;
}
#header .dropdown ul li:last-child a {
  border: 0;
}
#header .dropdown.active .ddwrap, #header .dropdown:hover .ddwrap {
  display: block;
}
#header .logo h1 {
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  color: #333;
  letter-spacing: .5px;
}
#header a:link, #header a:visited {
  color: #333;
  text-decoration: none;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#header a:hover {
  color: #008ed3;
}
#header .options .surprise a {
  display: block;
}
#header .options .surprise img {
  vertical-align: middle;
}
.noImages a:link, .noImages a:visited {
  text-decoration: underline;
  font-size: 48px;
  padding: 20px 0 0 90px;
  display: block;
  width: 300px;
  text-align: left;
}
.polaroid {
width: 236px;
  padding: 18px 0 10px 0;
  background-color: #fff;
  -moz-transition: box-shadow 0.15s ease-out;
  -o-transition: box-shadow 0.15s ease-out;
  -webkit-transition: box-shadow 0.15s ease-out;
  -ms-transition: box-shadow 0.15s ease-out;
  transition: box-shadow 0.15s ease-out;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: none;
  border: 1px solid #dedede;
}
.polaroid:hover {
  border: 1px solid #cccccc;
}
.polaroid.private {
background: #ffffff url('/assets/icons/private-tiny.png') no-repeat 222px 6px;
}
.polaroid .imageLink {
padding-left: 18px;
margin-bottom: 8px;
display: block;
position: relative;
}
.polaroid .imageLink .videoIcon {
background-image: url('/assets/icons/video.png');
width: 20px;
height: 20px;
bottom: 4px;
left: 22px;
position: absolute;
}
.polaroid .imageLink img {
display: block;
}
.polaroid .comments .comment,
.polaroid .personalization {
  font-size: 11px;
  line-height: 16px;
  padding: 0 18px 0 18px;
  color: #777;
}
.polaroid .personalization {
padding: 0 18px 8px 18px;
}
.polaroid .stats.empty, .polaroid .likes.empty, .polaroid .saves.empty {
  display: none;
}
.polaroid .groups,
.polaroid .stats {
padding-left: 18px;
padding-right: 18px;
}
.polaroid .likes, .polaroid .saves, .polaroid .groups p {
  color: #777;
  font-size: 11px;
  line-height: 16px;
  padding: 0 0 0 0;
}
.polaroid .stats .likes {
padding-left: 14px;
background: transparent url('/assets/icons/heart-pico.png') no-repeat left center;
margin-right: 13px;
}
.polaroid .stats .saves {
padding-left: 11px;
background: transparent url('/assets/icons/plus-pico.png') no-repeat left center;
margin-right: 13px;
}
.polaroid .groups .hidden {
display: none;
}
.polaroid > div {
  border-bottom: 1px solid #e8e7e3;
  padding: 0 0 8px 0;
margin-bottom: 8px;
}
.polaroid > div:last-child {
  border-bottom: 0;
  padding-bottom: 0px;
margin-bottom: 0px;
}
.polaroid .groups p .owned, .polaroid .groups p .owned:visited {
  border-bottom: 1px dotted #999;
}
.polaroid.ad,
.polaroid.superad {
font-size: 11px;
color: #666666;
padding-left: 18px;
padding-right: 18px;
padding-bottom: 18px;
width: 200px;
}
.polaroid.ad p,
.polaroid.superad p {
margin-bottom: 5px;
}
.polaroid.ad p a,
.polaroid.superad p a {
text-decoration: none;
color: #000000;
}
.polaroid.ad p a:hover,
.polaroid.superad p a:hover {
color: #008ed3;
}
.polaroid.ad .adContent {
  min-height: 125px;
  background: #4a4a4a url('/assets/advertise.jpg');
padding: 0;
}
.polaroid.superad .superAdContent {
min-height: 200px;
background-color: #f8f8f8;
}
.polaroid.ad .adContent a {
font-size: 16px;
line-height: 125px;
text-align: center;
display: block;
color: #CCCCCC;
font-weight: 100;
-moz-transition: all 0.15s ease-out;
-o-transition: all 0.15s ease-out;
-webkit-transition: all 0.15s ease-out;
-ms-transition: all 0.15s ease-out;
transition: all 0.15s ease-out;
text-decoration: none;
text-shadow: 0 1px 0 #000000;
}

.polaroid.ad .adContent a:hover {
color: #FFFFFF;
}

.polaroid.ad .adContent.envato {
height: 120px;
padding: 0;
}

.polaroid.ad .adContent.envato a,
.polaroid.ad .adContent.woothemes a,
.polaroid.ad .adContent.elegantthemes a {
padding: 9px 0 9px 0;
line-height: 0;
}

.polaroid.ad .adContent.envato a img,
.polaroid.ad .adContent.woothemes a img ,
.polaroid.ad .adContent.elegantthemes a img {
text-align: center;
}

.polaroid.ad .adContent.envato a:hover,
.polaroid.ad .adContent.woothemes a:hover,
.polaroid.ad .adContent.elegantthemes a:hover {
border: 1px solid #f8f8f8;
}

.polaroid.ad .adContent.woothemes {
height: 260px;
padding: 0;
}

.polaroid.ad .adContent.elegantthemes {
height: 145px;
padding: 0;
}

/** Hover options **/

.polaroid .options {
  opacity: 0;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
top: 0px;
left: 0px;
  -moz-transition: opacity 0.15s ease-out;
  -o-transition: opacity 0.15s ease-out;
  -webkit-transition: opacity 0.15s ease-out;
  -ms-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
background-color: white;
height: 50px;
width: 236px;
z-index: 10;
}
.polaroid.optionsActive .options,
.polaroid:hover .options {
  opacity: 1;
}
body.iPad .polaroid.optionsActive .options,
body.iPad .polaroid:hover .options {
  opacity: 0;
}
html.no-opacity .polaroid .options {
  display: none;
}
html.no-opacity .polaroid.optionsActive .options,
html.no-opacity .polaroid:hover .options {
  display: block;
}
.polaroid .options .save, .polaroid .options .comment, .polaroid .options .like, .polaroid .options .magnify {
  cursor: pointer;
  position: absolute;
  top: 0px;
  opacity: .5;
  width: 50px;
  height: 50px;
  -moz-transition: opacity 0.15s ease-out;
  -o-transition: opacity 0.25s ease-out;
  -webkit-transition: opacity 0.25s ease-out;
  -ms-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}
.polaroid .options .save span, .polaroid .options .comment span, .polaroid .options .like span, .polaroid .options .magnify span {
text-align: center;
width: 100%;
display: inline-block;
font-size: 9px;
color: #333;
line-height: 9px;
margin: 32px 0 0 0;
}
.polaroid .options .save, .polaroid .options .comment, .polaroid .options .like {
border-left: 1px solid #dedede;
}
.polaroid .options .save:hover, .polaroid .options .like:hover, .polaroid .options .comment:hover, .polaroid .options .magnify:hover {
  opacity: 1;
background-color: #f8f8f8;
}
.polaroid .options .like {
right: 0px;
  background: #fff url('/assets/icons/heart.png') no-repeat center 11px;
}
.polaroid .options .save.active, .polaroid .options .like.active, .polaroid .options .comment.active {
background-color: #f4f4f4;  
opacity: 1;
}
.polaroid .options .comment {
  right: 51px;
  background: #fff url('/assets/icons/comment.png') no-repeat center 11px;
}
.polaroid .options .save {
  right: 102px;
  background: #fff url('/assets/icons/plus.png') no-repeat center 11px;
}
.polaroid .options .magnify {
  right: auto;
  left: 0;
  width: 236px;
  background: #fff url('/assets/icons/magnify.png') no-repeat center 11px;
}
.polaroid .options .like.active {
background-image: url('/assets/icons/heart-active.png');
}
.polaroid .options .save.active {
background-image: url('/assets/icons/plus-active.png');
}
.polaroid .options .like.active,
.polaroid .options .save.active {
opacity: 1;
background-color: #7c7c7c;
}
.polaroid .options .like.active span,
.polaroid .options .save.active span {
color: #ffffff;
}
.polaroid .options .like.loading,
.polaroid .options .save.loading,
.polaroid .options .comment.loading {
  background-image: url('/assets/loader.gif');
}
.polaroid .options .magnify {
  width: 83px;
}
.polaroid .options a {
display: block;
padding-bottom: 8px;
}
.polaroid .comments div {
position: relative;
}
.polaroid .comments .comment {
  word-wrap: break-word;
}
.polaroid .comments .editComment {
  position: absolute;
right: 0;
top: -2px;
display: none;
background-color: #ffffff;
}
.polaroid .comments div:hover .editComment {
display: block;
}
.polaroid .comments.empty {
  display: none;
}
.polaroid .comments textarea {
  width: 188px;
  height: 50px;
  font-size: 12px;
  line-height: 16px;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  padding: 4px 4px 5px 5px;
  color: #000000;
  font-style: normal;
  border: 1px solid #ccc;
  margin: 0 0 5px 0;
}
.polaroid .comments .formCreateComment {
padding: 5px 0 5px 18px;
}

body.fadeSaved .polaroid.saved {
background-color: transparent;
border: 1px dotted #e9e9e9;
}

body.fadeSaved .polaroid.saved .imageLink img {
opacity: .15;
}

body.fadeSaved .polaroid.saved .stats,
body.fadeSaved .polaroid.saved .personalization,
body.fadeSaved .polaroid.saved .comments,
body.fadeSaved .polaroid.saved .groups {
opacity: .15;
}

body.fadeSaved .polaroid.saved:hover {
background-color: #ffffff;
border: 1px dotted #dedede;
}

body.fadeSaved .polaroid.saved:hover .imageLink img {
opacity: 1;
}

body.fadeSaved .polaroid.saved:hover .stats,
body.fadeSaved .polaroid.saved:hover .personalization,
body.fadeSaved .polaroid.saved:hover .comments,
body.fadeSaved .polaroid.saved:hover .groups {
opacity: 1;
}

#noMoreImages {
  background-color: #fff;
  color: white;
  display: table;
  width: 236px;
  height: 236px;
  padding: 0;
}
#noMoreImages p {
  font-size: 24px;
  line-height: 24px;
  font-weight: 100;
  color: #999;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  letter-spacing: 1px;
  padding: 0 20px 0 20px;
}
#loader {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: white url('/assets/loader.gif') no-repeat 7px center;
  min-width: 20px;
  color: #777;
  font-style: italic;
  font-size: 11px;
  height: 30px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  opacity: 0;
  line-height: 30px;
  text-indent: 30px;
  padding-right: 10px;
}
#lightbox {
  position: fixed;
  width: 100%;
  background-color: rgba(0,0,0,.8);
  top: 0;
  left: 0;
bottom: 0;
right: 0;
overflow: hidden;
z-index: 101;
  opacity: 1;
  -moz-transition: opacity 0.15s ease-out;
  -o-transition: opacity 0.25s ease-out;
  -webkit-transition: opacity 0.25s ease-out;
  -ms-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}
#lightbox.hidden {
  opacity: 0;
}
html.no-opacity #lightbox {
  background-image: url('/assets/bk_shader.png');
}
body.lightboxActive {
overflow: hidden;
-webkit-overflow-scrolling: touch;
}
#lightbox {
overflow-y: scroll;
}
#lightbox .loader {
  background: transparent url('/assets/loader-grey.gif') no-repeat center center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#lightbox .image {
  display: block;
position: absolute;
left: 0;
right: 297px;
top: 0;
bottom: 0;
text-align: center;
}
#lightbox .image .wrap {
display: table;
width: 100%;
height: 100%;
}
#lightbox .image .imageWrap {
display: table-cell;
vertical-align: middle;
}
#lightbox .image .wrap a {
}
#lightbox .image img,
#lightbox .image iframe {
background: #ffffff;
padding: 10px;
  display: inline-block;
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,.35);
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.35);
  box-shadow: 0 10px 20px rgba(0,0,0,.35);
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
margin: 30px 0 30px 0;
}
#lightbox .left, #lightbox .right {
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f4));
  background-image: -webkit-linear-gradient(top, #ffffff, #f4f4f4);
  background-image: -moz-linear-gradient(top, #ffffff, #f4f4f4);
  background-image: -ms-linear-gradient(top, #ffffff, #f4f4f4);
  background-image: -o-linear-gradient(top, #ffffff, #f4f4f4);
  background-image: linear-gradient(top, #ffffff, #f4f4f4);
  filter: progid :DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f4f4f4');
  width: 133px;
  height: 50px;
  position: absolute;
  top: 30px;
  left: 0px;
  cursor: pointer;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  opacity: 1;
}
#lightbox .left {
right: 163px;
left: auto;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
border-right: 1px solid #dedede;
}
#lightbox .right {
  right: 30px;
  left: auto;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#lightbox .left:hover, #lightbox .right:hover {
  opacity: 1;
}
#lightbox .left img, #lightbox .right img {
  display: block;
  margin: 13px auto 0 59px;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
#lightbox .right img {
  margin: 13px auto 0 59px;
}
#lightbox .left:hover img {
  margin-left: 54px;
}
#lightbox .right:hover img {
  margin-left: 64px;
}
#lightbox h3 {
  font-weight: 300;
  font-size: 13px;
  margin: 12px 0 0 0;
  text-align: center;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

#lightbox .image h3 {
  display: none;
}

#lightbox .contentWrap {
height: 100%;
margin: 0;
position: relative;
display: block;
}

#lightbox .details {
position: absolute;
left: auto;
width: auto;
right: 0;
top: 0;
bottom: 0;
display: block;
height: 100%;
}

#lightbox .details .wrap {
display: block;
width: 297px;
height: 100%;
position: relative;
}

#lightboxDetails {
position: absolute;
top: 90px;
right: 30px;
bottom: 30px;
background-color: #ffffff;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
font-size: 11px;
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,.35);
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.35);
  box-shadow: 0 10px 20px rgba(0,0,0,.35);
width: 267px;
}

#lightbox .details h2 {
font-size: 16px;
line-height: 49px;
font-weight: normal;
margin: 0 0 0 20px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

#lightbox .details .header {
border-bottom: 1px solid #dedede;
}

#lightbox .details:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#lightbox .details .info {
padding: 14px 18px 8px 20px;
border-bottom: 1px solid #dedede;
}

#lightbox #lightboxDetails.auth .details {
width: 238px;
}

#lightbox .details .info p {
margin-bottom: 10px;
line-height: 16px;
color: #777777;
}

#lightbox .details .info .hidden {
  display: none;
}

#lightbox .details .similar {
text-align: left;
padding: 18px 0 18px 19px;
border-bottom: 1px solid #dedede;
}

#lightbox #lightboxDetails.auth .similar {
width: auto;
border-right: 0px;
}

#lightbox .details .advertising {
text-align: left;
padding: 18px 18px 18px 18px;
border-top: 1px solid #dedede;
}

#lightbox .details .similar h3,
#lightbox .details .advertising h3 {
text-align: left;
font-size: 11px;
margin: 0 0 8px 0;
}

#lightbox .details .similar li {
float: left;
position: relative;
}

#lightbox .details .similar li img {
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
margin: 0 0 0 1px;
}

#lightbox .details .similar li .videoIcon {
background-image: url('/assets/icons/video.png');
width: 20px;
height: 20px;
bottom: 5px;
left: 5px;
position: absolute;
}

/** Media queries **/

@media screen and (max-width: 380px) {
  #header .primary .profile {
padding: 0;
}
#header .logo p {
display: none;
}
  #header .primary .profile a:first-child img {
margin: 0 11px 3px 10px;
padding: 0;
  }
  #header .primary .profile a:last-child {
display: none;
  }
  #header .options .signup, #header .options .about, #header .options .search, #header .options .dropdown, #header .options .howto {
    display: none;
  }
}
@media screen and (min-width: 380px) and (max-width: 570px) {
  #header .options .surprise, #header .options .search,
  #header .options .signup, #header .options .about {
    display: none;
  }
#header .logo p {
display: none;
}
}

@media screen and (max-width: 680px) {
#header .logo p {
display: none;
}
}

@media screen and (max-width: 570px) {
  .polaroid .options, .polaroid .options .save, .polaroid .options .comment, .polaroid .options .like, .polaroid .options .magnify {
    opacity: 1;
  }
  .polaroid .options .magnify {
    display: none;
  }
.polaroid {
padding-top: 50px;
}
}

/** General adjustments for iPad **/

/** iPad Retina adjustments **/

@media screen and (-webkit-min-device-pixel-ratio: 2) {
body.iPad #header .logo h1 img {
visibility: hidden;
}
body.iPad #header .logo h1 {
background: transparent url('/assets/icons/wookmark-hd.png') no-repeat center center;
background-size: 28px 40px;
}
body.iPad #header .logo h1.plus {
background: transparent url('/assets/icons/wookmark-plus-seal-hd.png') no-repeat center center;
background-size: 41px 56px;
}
body.iPad .polaroid .stats .saves {
background-image: url('/assets/icons/plus-pico-hd.png');
background-size: 8px 8px;
}
body.iPad .polaroid .stats .likes {
background-image: url('/assets/icons/heart-pico-hd.png');
background-size: 9px 10px;
}
body.iPad .polaroid .options .like {
  background-image: url('/assets/icons/heart-hd.png');
background-size: 16px 16px;
}
body.iPad .polaroid .options .comment {
  background-image: url('/assets/icons/comment-hd.png');
background-size: 17px 16px;
}
body.iPad .polaroid .options .save {
  background-image: url('/assets/icons/plus-hd.png');
background-size: 16px 16px;
}
body.iPad .polaroid .options .magnify {
  background-image: url('/assets/icons/magnify-hd.png');
background-size: 17px 17px;
}
body.iPad .polaroid .options .like.active {
background-image: url('/assets/icons/heart-active-hd.png');
background-size: 16px 16px;
}
body.iPad .polaroid .options .save.active {
background-image: url('/assets/icons/plus-active-hd.png');
background-size: 16px 16px;
}
}


/** Source tile **/

.tile.source {
  padding: 14px 18px 18px 18px;
  background-color: #fff;
  -moz-transition: box-shadow 0.15s ease-out;
  -o-transition: box-shadow 0.15s ease-out;
  -webkit-transition: box-shadow 0.15s ease-out;
  -ms-transition: box-shadow 0.15s ease-out;
  transition: box-shadow 0.15s ease-out;
  border: 1px solid #dedede;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.tile.source:hover {
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
  box-shadow: 0 1px 2px rgba(0,0,0,.25);
}
.tile.source {
  width: 200px;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
}
.tile.source h4 {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 16px;
  word-wrap: break-word;
}
.tile.source p {
  font-size: 11px;
  line-height: 14px;
  color: #777;
  padding: 8px 0 0 0;
}

/** Group tiles **/

.tile.group {
  padding: 14px 17px 18px 18px;
  background-color: #fff;
  -moz-transition: box-shadow 0.15s ease-out;
  -o-transition: box-shadow 0.15s ease-out;
  -webkit-transition: box-shadow 0.15s ease-out;
  -ms-transition: box-shadow 0.15s ease-out;
  transition: box-shadow 0.15s ease-out;
  border: 1px solid #dedede;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
width: 201px;
display: none;
}

.tile.group .owner {
font-size: 11px;
margin-top: 4px;
color: #777777;
}

.tile.group .details {
position: absolute;
right: 10px;
top: 10px;
}

.tile.group .details img {
margin-left: 5px;
}

.tile.group h2 {
font-size: 16px;
margin: 0 0 0 0;
font-weight: bold;
}

.tile.group h2 a {
  text-decoration: none;
}

.tile.group h2 a:hover {
  color: #008ed3;
}

.tile.group .images img.big {
margin-bottom: 4px;
margin-top: 12px;
}

.tile.group .images img {
display: block;
float: left;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
margin-right: 1px;
margin-top: 1px;
}
.tile.group .images .blank {
width: 66px;
height: 66px;
display: block;
float: left;
background-color: #ededed;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
margin-right: 1px;
margin-top: 1px;
}
.tile.group .images img.secret,
.tile.group .images .blank.secret {
display: none;
}
.tile.group.james .images img.secret,
.tile.group.james .images .blank.secret {
  display: block;
}
.tile.group.james .images img.big {
  display: none;
}
.tile.group.james h2 {
  margin-bottom: 10px;
}

/** Add to groups overlay **/

#groupsOverlay,
#sharePopup {
z-index: 1000;
position: absolute;
top: 20px;
left: 20px;
background-color: #ffffff;
border: 2px solid #4b4b4b;
-moz-box-shadow: 0 2px 12px rgba(0,0,0,.35);
-webkit-box-shadow: 0 2px 12px rgba(0,0,0,.35);
box-shadow: 0 2px 12px rgba(0,0,0,.35);
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
min-width: 230px;
}

#groupsOverlay .wrap {
position: relative;
}

#groupsOverlay .arrow,
#sharePopup .arrow {
position: absolute;
top: -16px;
}

#groupsOverlay .arrow img,
#sharePopup .arrow img {
display: block;
margin-left: -50%;
}

#groupsOverlay.topper .arrow,
#sharePopup.topper .arrow {
top: auto;
bottom: -16px;
}

#groupsOverlay .arrow img.down,
#groupsOverlay.topper .arrow img.up,
#sharePopup .arrow img.down,
#sharePopup.topper .arrow img.up {
display: none;
}

#groupsOverlay.topper .arrow img.down,
#sharePopup.topper .arrow img.down {
display: block;
}

#groupsOverlay .options {
padding: 10px 15px 13px 15px;
border-top: 1px solid #e9e9e9;
background-color: #f8f8f8;
}

#groupsOverlay .options:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#groupsOverlay .actionButton {
right: 5px;
top: 5px;
padding: 6px 9px 7px 9px;
font-size: 12px;
}

#groupsOverlay .unsaveButton {
float: left;
text-decoration: underline;
cursor: pointer;
font-size: 11px;
}

#groupsOverlay .closeButton,
#groupsOverlay .privateButton {
float: left;
margin-left: 10px;
height: 26px;
padding: 0;
cursor: pointer;
}

#groupsOverlay .privateButton {
line-height: 25px;
width: 27px;
text-align: center;
text-indent: -1000px;
overflow: hidden;
}

#groupsOverlay .privateButton span {
opacity: 0.75;
background-image: url('/assets/icons/key.png');
background-position: center center;
background-repeat: no-repeat;
display: block;
}
#groupsOverlay .privateButton:hover span {
opacity: 1;
}

#groupsOverlay .privateButton.active span {
opacity: 1;
background-image: url('/assets/icons/key-active.png');
}

#groupsOverlay .privateButton.loading span {
background-image: url('/assets/loader.gif');
}

#groupsOverlay .closeButton span {
line-height: 25px;
vertical-align: middle;
padding: 0 7px 0 8px;
}

#groupsOverlay .closeButton span img,
#groupsOverlay .privateButton span img {
vertical-align: middle;
}

#groupsOverlay .topOptions {
position: absolute;
right: 12px;
top: 12px;
}

#groupsOverlay h3 {
font-size: 14px;
border-bottom: 1px solid #e9e9e9;
padding: 0 0 0 15px;
line-height: 50px;
}

#groupsOverlay h3 img {
vertical-align: middle;
margin-right: 7px;
padding-bottom: 2px;
}

#groupsOverlay ul {
float: left;
margin: 10px 15px 10px 15px; 
}

#groupsOverlay ul li {
  text-indent: 0px;
color: #444;
padding: 3px 0 3px 0;
display: block;
position: relative;
font-size: 12px;
}

#groupsOverlay ul li.loading:before {
width: 16px;
height: 16px;
content: "";
display: block;
background: url('/assets/loader.gif') no-repeat;
position: absolute;
left: -13px;
top: 6px;
}

#groupsOverlay .addForm {
clear: both;
padding: 1px 0 15px 16px;
}

#groupsOverlay .addForm h4 {
font-size: 13px;
color: #000000;
font-weight: normal;
margin: 0 0 10px 0;
}

#groupsOverlay .addForm input {
float: left;
}

#groupsOverlay .addForm input[type=text] {
padding-top: 7px;
padding-bottom: 6px;
color: #999;
}

#groupsOverlay .addForm input[type=text].active {
color: #333;
}

#groupsOverlay .addForm input[type=submit] {
margin-left: 5px;
display: none;
}

#groupsOverlay .addForm.active input[type=submit] {
display: block;
}

#groupsOverlay .addForm:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#groupsOverlay .privacy {
border-top: 1px solid #e9e9e9;
font-size: 12px;
color: #444;
padding: 13px 0 15px 15px;
position: relative;
}

#groupsOverlay .privacy label {
margin-right: 10px;
}

#groupsOverlay .privacy.loading {
background: url('/assets/loader.gif') no-repeat 2px center;
}

#groupsOverlay .dropbox {
position: absolute;
right: 12px;
top: 7px;
}

#groupsOverlay .dropbox .actionButton {
padding: 0;
line-height: 16px;
cursor: pointer;
}

#groupsOverlay .dropbox .actionButton span {
display: inline-block;
padding: 6px 7px 2px 7px;
}

#groupsOverlay .dropbox .actionButton.loading span {
background: transparent url('/assets/loader.gif') no-repeat center center;
}

#groupsOverlay .dropbox .actionButton.loading span img {
visibility: hidden;
}

/** Share popup **/

#sharePopup {
width: 128px;
min-width: 0;
}

#sharePopup li {
border-bottom: 1px solid #ededed;
margin: 0;
padding: 0;
}

#sharePopup li:last-child {
border-bottom: 0px;
}

#sharePopup li a {
display: block;
width: 128px;
line-height: 40px;
text-indent: 40px;
}

#sharePopup li.twitter {
background: transparent url('/assets/icons/twitter-small.png') no-repeat 10px center;
}

#sharePopup li.facebook {
background: transparent url('/assets/icons/facebook-small.png') no-repeat 13px center;
}

#sharePopup li.embed {
background: transparent url('/assets/icons/embed.png') no-repeat 12px center;
}

/** Lightbox options **/

#lightbox .details {

}

#lightbox .details .options {

}

#lightbox #tagOptions {
padding: 0;
margin: 0;
}

#lightbox .options .saveButton,
#lightbox .options .privateButton,
#lightbox .options .groupsButton,
#lightbox .options .likeButton,
#lightbox .options .downloadButton,
#lightbox .options .shareButton,
#lightbox .options .noteButton {
background-color: #ffffff;
height: 49px;
width: 52px;
border-right: 1px solid #dedede;
float: left;
padding: 0;
margin: 0;
text-align: center;
overflow: hidden;
opacity: 0.75;
position: relative;
-moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

#lightbox .options .downloadButton {
width: 52px;
}

#lightbox #tagOptions a span {
display: inline-block;
font-size: 9px;
color: #777777;
line-height: 9px;
margin: 31px 0 0 0;
}

#lightbox #tagOptions a:hover span {
color: #333333;
}

#lightbox .options .saveButton.active,
#lightbox .options .privateButton.active,
#lightbox .options .groupsButton.active,
#lightbox .options .likeButton.active,
#lightbox .options .shareButton.active,,
#lightbox .options .noteButton.active,
#lightbox .options .saveButton:hover,
#lightbox .options .privateButton:hover,
#lightbox .options .groupsButton:hover,
#lightbox .options .likeButton:hover,
#lightbox .options .downloadButton:hover,
#lightbox .options .shareButton:hover,
#lightbox .options .noteButton:hover {
opacity: 1;
}

#lightbox .options .saveButton {
background: #ffffff url('/assets/icons/plus.png') no-repeat center 10px;
}
#lightbox .options .saveButton.active {
background: #7c7c7c url('/assets/icons/plus-active.png') no-repeat center 10px;
}
#lightbox .options .noteButton {
display: none;
background: #ffffff url('/assets/icons/comment.png') no-repeat center 10px;
border-right: 0px;
}
#lightbox .options .noteButton.active {
background: #7c7c7c url('/assets/icons/comment-active.png') no-repeat center 10px;
}
#lightbox #tagOptions a.active span {
color: #ffffff;
text-shadow: 0 1px 0 rgba(0,0,0,.5);
}
#lightbox .options .saveButton.loading {
background-image: url('/assets/loader-grey.gif');
}

#lightbox .options .groupsButton {
background: #ffffff url('/assets/icons/groups.png') no-repeat center 10px;
}

#lightbox .options .likeButton {
background: #ffffff url('/assets/icons/heart.png') no-repeat center 11px;
-moz-border-radius-topleft: 2px;
-webkit-border-top-left-radius: 2px;
border-top-left-radius: 2px;
}

#lightbox .options .likeButton.active {
background: #7c7c7c url('/assets/icons/heart-active.png') no-repeat center 11px;
}

#lightbox .options .downloadButton {
background: #ffffff url('/assets/icons/download.png') no-repeat center 9px;
display: none;
}

#lightbox .options .shareButton {
background: #ffffff url('/assets/icons/share.png') no-repeat center 9px;
}
#lightbox .options .shareButton.active {
background: #7c7c7c url('/assets/icons/share-active.png') no-repeat center 9px;
}

#lightboxDetails .addComment {
display: none;
}

/** Header Plus message **/

#header #plusMessage {
  display: none;
position: absolute;
left: 50%;
top: 40px;
}

#header .plusMessageWrap {
margin-left: -50%;
display: inline-block;
background: #ffffff url('/assets/plus/seal-small.png') no-repeat 30px 30px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
box-shadow: 0 1px 3px rgba(0,0,0,.2);
border: 1px solid #cdcdcd;
width: 643px;
padding: 10px 0 25px 0;
-moz-border-radius-bottomleft: 3px;
-moz-border-radius-bottomright: 3px;
-webkit-border-bottom-left-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
}

#header #plusMessage h2 {
font-size: 24px;
margin: 33px 0 0 0;
text-indent: 90px;
padding-bottom: 43px;
}

#header #plusMessage .info p {
font-size: 18px;
line-height: 22px;
color: #333333;
margin: 0 0 25px 0;
float: left;
width: 210px;
text-align: center;
}

#header #plusMessage .info {
padding-top: 215px;
border-bottom: 1px solid #dedede;
background: #ffffff url('/assets/plus/plus-message-visual.jpg') no-repeat center 0px;
}

#header #plusMessage a.actionButton {
display: inline-block;
float: right;
margin: 20px 30px 0 0;
font-size: 16px;
padding: 0 25px 2px 25px;
line-height: 36px; 
}

#header #plusMessage .close {
float: right;
width: 23px;
height: 23px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
padding: 0;
cursor: pointer;
margin: 10px 20px 0 0;
}

#header #plusMessage .close div {
width: 100%;
height: 100%;
background: transparent url('/assets/x.png') no-repeat center center;
}

/** Quick group nav **/

#quickGroupNav {
  position: fixed;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  top: 0;
  left: 0;
bottom: 0;
right: 0;
z-index: 101;
}

#quickGroupNav .wrap {
display: table;
width: 100%;
height: 100%;
text-align: center;
}

#quickGroupNav .wrap2 {
display: table-cell;
vertical-align: middle;
}

#quickGroupNav .content {
display: inline-block;
margin: 0 auto;
background-color: #ffffff;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0 2px 15px rgba(0,0,0,.25);
-webkit-box-shadow: 0 2px 15px rgba(0,0,0,.25);
box-shadow: 0 2px 15px rgba(0,0,0,.25);
}

#quickGroupNav h2 {
text-align: left;
font-size: 14px;
border-bottom: 1px solid #dedede;
padding: 15px 0 15px 15px;
}

#quickGroupNav ul {
float: left;
border-right: 1px solid #dedede;
}

#quickGroupNav li {
line-height: 30px;
padding-right: 15px;
text-indent: 15px;
border-bottom: 1px solid #dedede;
text-align: left;
padding-bottom: 1px;
font-size: 12px;
}

#quickGroupNav li a {
display: block;
}

#quickGroupNav ul li:last-child {
border-bottom: 0px;
}