@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);

/** Header */
#header {
	position: fixed;
	z-index: 100;
	width: 100%;
	padding: 0 0 0 0;
	background-color: rgba(255,255,255,.95);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	height: 40px;
	text-shadow: 0 1px #ffffff;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f8f8f8));
	background-image: -webkit-linear-gradient(top, #ffffff, #f8f8f8);
	background-image: -moz-linear-gradient(top, #ffffff, #f8f8f8);
	background-image: -ms-linear-gradient(top, #ffffff, #f8f8f8);
	background-image: -o-linear-gradient(top, #ffffff, #f8f8f8);
	background-image: linear-gradient(top, #ffffff, #f8f8f8);
	border-bottom: 1px solid #cdcdcd;
	font-family:  'Oxygen', "Helvetica Neue", Helvetica, Arial, sans-serif;
	list-style-image:none;
	margin: 0;
}
.headerSpacer {
	height: 60px;
}
.ie6 #header {
	position: relative;
}
.ie6 .headerSpacer {
	height: 20px;
}
#header .logo {
	float: left;
	padding: 5px 15px 15px 15px;
	height: 21px;
	margin: 0;
}

#header .primary {
	float: left;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #ffffff;
	height: 40px;	
	padding: -13px 0 0 0;
	margin:-13px 0 0 0;
	line-height: 40px;
}

#header .options {
	float: right;
	margin: 0;
	font-size: 12px;
	text-align: center;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #ffffff;
	height: 40px;	
}
#header .primary li, #header .options .item {
	float: left;
	margin: -10px 10px 0 0;
	padding: 0;
	border-left: 1px solid #fff;
	border-right: 1px solid #e8e8e8;
	height: 40px;	
	list-style-type: none;
}
#header .options .item a {
	height: 40px;
	color: #444444;
}
#header .primary li a:hover, #header .options .item a:hover {
	color: #008ed3;
}
#header .primary li {
	padding: 0 15px 0 15px;
}
#header .primary li.options {
	padding: 0 5px 0 5px;
}
#header .primary li a {
	color: #444444;
}
#header .primary .profile img {
	vertical-align: middle;
	margin-right: 10px;
	margin-bottom: 4px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#header .primary .profile {
	margin: 0;
}
#header .ul{
height: 0px;
}

#header .li{
height: 40px;
}

#header .options .search {
	padding: 0 5px 0 10px;
	height: 28px;
	position: relative;
}
#header .options .search input {
	margin-top: 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #333333;
	background-color: #dddddd;
	border: 0px;
	-moz-box-shadow: 0 1px 0px rgba(255, 255, 255, .4);
	-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, .4);
	box-shadow: 0 1px 0px rgba(255, 255, 255, .4);
}
#header .options .search input.active {
	color: #000000;
	font-style: normal;
}
#header .options .search #searchAutoComplete,
#commentAutoComplete {
	position: absolute;
	border: 1px solid #bbb;
	border-top: 0px;
	background-color: #fff;
	left: -2px;
	top: 28px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	width: 200px;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#commentAutoComplete {
	z-index: 15000;
}
#header .options .search #searchAutoComplete ul,
#commentAutoComplete ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#header .options .search #searchAutoComplete li,
#commentAutoComplete li {
	border-bottom: 1px solid #dddddd;
	margin: 0;
	padding: 0;
	position: relative;
}
#header .options .search #searchAutoComplete li a,
#commentAutoComplete li a {
	margin: 0;
	padding: 6px 5px 6px 10px;
	display: block;
	height: auto;
	text-align: left;
}
#header .options .search #searchAutoComplete span,
#commentAutoComplete span {
	font-size: 10px;
	color: #999999;
	padding-left: 5px;
}
#header .dropdown {
	position: relative;
	margin-top: -1px;
	padding: 0;
	z-index: 10000;
}
#header .dropdown.howto {
	border-right: 0px;
}
#header li.dropdown.howto p {
	padding: 0 0px 0 0px;
}
#header .dropdown.howto p img {
	margin-left: 5px;
}
#header .dropdown p {
	padding: 0 12px 0px 10px;
	cursor: pointer;
}
#header .dropdown p img {
	vertical-align: middle;
	border: 0px;
	opacity: 0.75;
	filter: opacity(alpha=50);
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	-webkit-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}
#header .dropdown:hover p img {
	opacity: 1;
	filter: opacity(alpha=100);
}
#header .dropdown.active, #header .dropdown p:hover {
	background-color: #fffffff;
	display: block;
}
#header .dropdown .ddwrap {
	display: none;
	position: absolute;
	border: 1px solid #bbb;
	border-top: 0px;
	background-color: #fff;
	right: -2px;
	top: 41px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	width: 120px;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#header .dropdown .ddwrap .arrows {
	color: #ffffff;
	position: absolute;
	right: 9px;
	letter-spacing: -3px;
	top: -22px;
	font-size: 10px;
	text-shadow: 0 -1px #bbb;
	display: none;
}
#header .dropdown ul li {
	padding: 0;
	float: none;
	margin: 0;
}
#header .dropdown ul li a,
#header .options .dropdown ul li a {
	text-align: left;
	display: block;
	text-indent: 8px;
	padding: 6px 0 6px 0;
	border-bottom: 1px solid #ddd;
	font-size: 12px;
	height: auto;
	color: #444444;
	text-shadow: none;
}
#header .dropdown ul li:hover {

}
#header .dropdown ul li a:hover {
	color: #008ed3;
}
#header .dropdown ul li.logout a {
	font-style: italic;
	font-size: 10px;
	color: #777;
}
#header .dropdown ul li.logout:hover {
	background: transparent url('../assets/tears.png') no-repeat 98px center;
}
#header .dropdown ul li.logout a:hover {
	color: #008ed3;
}
#header .dropdown ul li.upgrade {
	background: transparent url('../assets/plus/seal-pico.png') no-repeat 98px center;
}
#header .dropdown ul li:last-child a {
	border: 0;
}
#header .dropdown.active .ddwrap, #header .dropdown:hover .ddwrap {
	display: block;
}
#header .logo h1 {
	font-size: 16px;
	font-weight: 500;
	margin: 0px;
	color: #333;
	letter-spacing: .5px;
}
#header a:link, #header a:visited {
	color: #333;
	text-decoration: none;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	-webkit-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}
#header a:hover {
	color: #008ed3;
}
#header .options .surprise a {
	display: block;
}
#header .options .surprise img {
	vertical-align: middle;
}