@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }

/** Header */

#header {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 40px;
	background-color: #ffffff;
	border-bottom: 1px solid #cdcdcd;
	font-family:  'Oxygen', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ie6 #header {
	position: relative;
}
.ie6 .headerSpacer {
	height: 20px;
}

#header .logo {
  float: left;
  padding:5px 6px 0 6px;
}

#header .primary {
  float: left;
  margin:0 0 0 -40px;
}

#header .options {
  float: right;
  background-color: #ffffff;
}

#header .primary li, #header .options li {
	float: left;
	border-left: 1px solid c
	border-right: 1px solid #ffffff;
	line-height: 40px;
	margin:-13px 0 0 0;
	list-style-type: none;
	padding:0 10px 0 10px;
}

#header .primary li:last-child{
	border-right: 1px solid #e8e8e8;
}


#header .options .search input {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family:  'Oxygen', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header .options .search input.active {
	color: #000000;
	font-style: normal;
}

#header a{
	text-decoration:none;
}

/*
Header dropdown
*/


#header .dropdown .ddwrap {
  display: none;
  position: absolute;
  background-color: #fff;
  right:51px;
}

#header .dropdown .ddwrap  ul{
	margin-left: -40px;
	margin-bottom: -10px;
}

#header .dropdown .ddwrap  ul li{
	float:none;
	border: 1px solid #bbb;
	border-top:0;
	padding:8px 10px 0 10px;
}
#header .dropdown .ddwrap  ul li:first-child{
	border-top: 1px solid #bbb;	
	padding-top: 0;	
}

#header .dropdown.active .ddwrap, #header .dropdown:hover .ddwrap {
  display: block;
}

/*
page mask
*/
#mask{
	position:absolute;
	left:0;top:0;
	z-index:11000;
	background-color:#000;
    width: 100%;
    height: 100%;
}
#maskClose{
    color: #e8e8e8;
    padding: 5px;
    border: 1px solid #cdcdcd;
    font-family:  'Oxygen', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    float:right;
    width: 100px;
    text-align: center;
    background-color:#C0C0C0;
}

#maskClose:hover{
    cursor: pointer;
}
/*
Image canvas
*/
#canvas{
	position: relative;
	width:100%;
	padding-top:35px;
}


/*
Home page default images
*/

#home-tiles{
	position: relative;
	width:100%;
	padding-top:35px;
    right:-10px;
}

#home-tiles ul li{
	padding: 5px;
	padding-top: 0;
	float:left;
	list-style-type: none;
	border:1px solid #cdcdcd;
	margin:0 5px 5px 0;
}

#home-tiles ul li img{
    display: block;
    margin-left: auto;
    margin-right: auto;
	padding:3px;
	padding-bottom:0;
}

/*
Sidebar
*/

#sidebar{
    position: fixed;
    top:27px;
    z-index: 90;
    width: 30px;
    height:30%;
    background-color: #ffffff;
}

#sidebar ul li {
    float: left;
    list-style-type: none;
    padding:10px 10px 5px 10px;
    margin-left: -45px;
    border-bottom: 1px solid  #e8e8e8;
    border-right: 1px solid #cdcdcd;
    width: 25px;
}

/*
Footer
*/
#footer {
	position: relative;
	margin-top: -180px; /* negative value of footer height */
	height: 20px;
	clear:both;
	background-color:#cdcdcd;
	font-family:  'Oxygen', "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:5px;
}

/*
network icon classes
*/
.FLICKR_GALLERY{
    background-image: url(../images/flickr_16.jpg);
    background-repeat: no-repeat;
}

.FLICKR_PHOTOSET{
    background-image: url(../images/flickr_16.jpg);
    background-repeat: no-repeat;
}

.FB_ALBUM{
    background-image: url(../images/fb_16.jpg);
    background-repeat: no-repeat;
}

/*
album sliding view
*/

.slidingDiv{
    bottom: 0;
    left:0;
    position: absolute;
    right:0;
    top:0;
    z-index: 200;
    background-color: #000;
    float: left;
}

.slideClose{
    color: #e8e8e8;
    padding: 5px;
    border: 1px solid #cdcdcd;
    font-family:  'Oxygen', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    float:right;
    width: 100px;
    text-align: center;
    background-color:#C0C0C0;
}

.slideClose:hover{
    cursor: pointer;
    background-color:#B8B8B8;
    color:#3399FF;
}
.albumPicStrip{
    margin: 30px 100px 50px 100px;
    z-index: 200;
    overflow: hidden;
    width:1100px;
    height: 80px;
}
.albumPicSmall{
    float: left;
}
.albumPicSmall .img{
    height:70px;
    position:relative;
    z-index: 190;
    padding-left: 10px;
    border: solid 1px white;
}

.albumPicLarge{
    z-index: 200;
    display: none;
    position: absolute;
    left:100px;
    top:120px;
    border: solid 1px white;
}

.albumPicLarge img{
    display: block;
    height:450px;
    background-position: center;
    left: auto;
    right:auto;
}

.albumPicSmall img:hover + div.albumPicLarge{
    display: block;
}

.albumLeftArrow{
    position: absolute;
    left:80px;
    top:65px;
    cursor: pointer;
 }

.albumRightArrow{
    position: absolute;
    left:1110px;
    top:65px;
    cursor: pointer;
}