#wrap {
	width: 970px;
	margin: 0 auto 30px auto;
	overflow: hidden;
	border: 1px solid #dedede;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #ffffff;
}


html {
background: #e9e9e9 url('/assets/bg-pattern-1.png');
}

html,
#page {
height: 100%;
}

#page {
padding-bottom: 0px;
}

body {

}

#aboutWrap:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#aboutWrap {
width: 970px;
margin: 0 auto 30px auto;
overflow: hidden;
border: 1px solid #dedede;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
background-color: #ffffff;
}

.headerSpacer {
height: 70px;
}

/** Nav **/
.aboutnav {
float: left;
width: 179px;
padding: 20px 0 0 0;
background-color: #fafafa;
margin-bottom: -10000px;
padding-bottom: 10000px;
border-right: 1px solid #dddada;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

.aboutnav a:link {
padding: 0 10px 0 10px;
}

.aboutnav .primary {
margin: 0 0 25px 0;
border-bottom: 1px solid #ffffff;
}

.aboutnav .primary li {
padding: 10px 0 12px 20px;
font-weight: 300;
border-top: 1px solid #ffffff;
border-bottom: 1px solid #e1e1e1;
text-shadow: 0 1px #ffffff;
}

.aboutnav .primary li a {
font-size: 18px;
color: #444444;
}

.aboutnav .primary li a:hover {
color: #008ed3;
}

.aboutnav .primary li:first-child {
border-top: 0px;
}

.aboutnav .primary li.active {
font-weight: bold;
color: #000000;
}

.aboutnav .secondary li {
font-size: 11px;
color: #777;
line-height: 18px;
padding-left: 20px;
}

.aboutnav a {
-webkit-transition: all 0.1s ease-out;
-moz-transition: all 0.1s ease-out;
-ms-transition: all 0.1s ease-out;
-o-transition: all 0.1s ease-out;
transition: all 0.1s ease-out; 
}

.aboutnav .secondary li a {
color: #777;
}

.aboutnav .secondary li a:hover {
color: #008ed3;
}

.aboutnav:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/** Content formatting **/
  
#aboutWrap h1 {
  color: #000000;
  font-weight: normal;
  font-size: 26px;
}
  
#aboutWrap p {
line-height: 18px;
font-size: 13px;
color: #666666;
}


#extras {
width: 710px;
float: right;
color: #333;
font-size: 13px;
line-height: 18px;
padding-left: 40px;
padding-right: 40px;
padding-top: 20px;
background-color: #ffffff;
padding-bottom: 100px;
}

#extras h1 {
font-weight: normal;
text-shadow: 0 1px #ffffff;
margin: 10px 0 5px 0;
font-size: 18px;
line-height: 24px;
width: 600px;
}

#extras .followMe p {
margin: 0 0 20px;
}

#extras .followMe .options {
float: left;
margin: 0 20px 0 0;
padding-right: 20px;
}

#extras .followMe .options li {
border: 1px solid #f8f8f8;
border-right: 1px solid #dedede;
background-color: #f8f8f8;
padding: 20px 25px 20px 15px;
cursor: pointer;
}

#extras .followMe .options li.active {
border: 1px solid #dedede;
border-right: none;
background: #ffffff url('/assets/plus/arrow-right-li.png') no-repeat center right;
}

#extras .followMe .options li img {
display: block;
}

#extras .followMe .buttonCode {
float: left;
width: 200px;
}

#extras .followMe .buttonCode textarea {
width: 400px;
height: 240px;
font-size: 14px;
line-height: 22px;
}


